.login {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: red;
}

.login h1 {
  font-size: 24px;
  text-align: center;
}

.inputs {
  margin-bottom: 20px;
}

.inputs label {
  display: block;
  margin-bottom: 5px;
}

.inputs input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.return {
  background-color: #ccc;
  color: #333;
}

button.return:hover {
  background-color: #999;
}

button,
button.return {
  text-align: center;
}
